<%= form_with model: [@test, @question], local: true do |form| %>
  <%= render 'shared/errors', resourse: @question %>
  <p>
  <%= form.label :wording %><br>
  <%= form.text_field :wording%>
</p><br>

<p>
  <%= form.label :sublevel %><br>
  <%= form.number_field :sublevel%>
</p>


<p><%= form.submit %></p>
<% end %>

