<tr>
  <td> <%= badge.title %></td>
  <td> <%= image_tag("#{badge.picture}", size: "64")%></td>
  <td><%= link_to 'Show', admin_badge_path(badge) %></td>
  <td><%= link_to 'Edit', edit_admin_badge_path(badge) %></td>
  <td>
    <%= link_to 'Delete',
                admin_badges_path,
                method: :delete,
                data: { confirm: "Are you sure?"} %>
  </td>
</tr>