<h1><%= @badge.title%> Badge</h1>

<p>
  <strong>Title:</strong>
  <%= @badge.title %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag("#{@badge.picture}", size: "128") %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= I18n.t("badges.rules.#{@badge.achievement}") %>
</p>

<p>
  <strong>Options:</strong>
  <%= @badge.options %>
</p>


<%= link_to 'Edit', edit_admin_badge_path(@badge) %> |
<%= link_to 'Back', admin_badges_path %>