<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>
<p>
  <strong>Time:</strong>
  <%= @test.test_timer.hours %> : <%= @test.test_timer.minutes %> : <%= @test.test_timer.seconds %> 
</p>
<p>
<%= link_to 'New question', new_admin_test_question_path(params[:id])%> 
</p><br>
<table>
  <tr>
    <th>Wording</th>
    <th>Sublevel</th>
    <th colspan="3">Action</th>
  </tr>
  <%= render @test.questions %>
</table><br>

<%= link_to 'Edit', edit_admin_test_path(@test) %> |
<%= link_to 'Back', admin_tests_path %> 